<div class="album">
    <li>
        <a href="{{relative url}}">
            <ul class="grid">
                {{~#slice previews count=4~}}
                    <li><img class="album-cover" src="{{relative urls.thumbnail}}" /></li>
                {{~/slice}}
                <li>
                    <div class="album-info">
                        <div class="album-title">{{title}} <span class="album-count">({{stats.photos}})</span></div>
                        <div class="album-last-updated">{{monthYear stats.toDate}}</div>
                    </div>
                </li>
            </ul>
        </a>
    </li>
</div>